Importing the Required Dependencies

In [4]:
import numpy as np
import pandas as pd

Generate an array of zeroes using inbuilt numpy function.

In [5]:
np.array([0,0,0,0])

array([0, 0, 0, 0])

Run the given code and find the dot product of both arrays.

In [6]:
import numpy as np
a = np.random.randint(2,10, (3,4))
b = np.random.randint(2,10, (4,3))
print(a)
print(b)

[[4 5 6 3]
 [3 9 4 4]
 [2 6 7 2]]
[[2 2 7]
 [8 8 3]
 [5 4 4]
 [5 9 2]]

In [7]:
a.dot(b)

array([[ 93,  99,  73],
       [118, 130,  72],
       [ 97,  98,  64]])

In [8]:
b.dot(a)

array([[ 28,  70,  69,  28],
       [ 62, 130, 101,  62],
       [ 40,  85,  74,  39],
       [ 51, 118,  80,  55]])

Read the csv file provided using pandas and display the first 5 entries

In [9]:
data = pd.read_csv("data.csv")
data.head()

   OBJECTID                        UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
0        21        Fort Stevenson State Park  ...   0.000284   0.135641
1        22           Beaver Lake State Park  ...   0.000129   0.080067
2        23  Fort Abraham Lincoln State Park  ...   0.000399   0.119868
3        24           Fort Ransom State Park  ...   0.000444   0.128733
4        25        Grahams Island State Park  ...   0.000469   0.125546

[5 rows x 6 columns]

In [23]:
data.shape

(25, 6)

Describe the data with all features.

In [10]:
data.describe()

        OBJECTID        ACRES  SHAPE.AREA  SHAPE.LEN
count  25.000000    25.000000   25.000000  25.000000
mean   33.000000   724.134400    0.000352   0.109863
std     7.359801  1275.490247    0.000617   0.089073
min    21.000000    11.400000    0.000005   0.009396
25%    27.000000    72.300000    0.000034   0.033885
50%    33.000000   524.810000    0.000256   0.087192
75%    39.000000   836.470000    0.000399   0.145220
max    45.000000  6492.930000    0.003136   0.338800

Find the total count of missing values for each feature.

In [11]:
data.isnull().sum()

OBJECTID       0
UNIT_NAME      0
DESCRIPTION    0
ACRES          0
SHAPE.AREA     0
SHAPE.LEN      0
dtype: int64

Display all the unique values from the 'DESCRIPTION’ column.

In [13]:
data.DESCRIPTION.unique()

array(['State Park', 'Interpretive Center', 'State Recreation Area',
       'State Natural Area', 'State Nature Preserve'], dtype=object)

Create a grouped table usin 'DESCRIPTION' as the grouping columns with the means of all the other columns.

In [17]:
data.groupby('DESCRIPTION').mean()

                        OBJECTID        ACRES  SHAPE.AREA  SHAPE.LEN
DESCRIPTION
Interpretive Center    29.000000    14.710000    0.000007   0.016774
State Natural Area     39.000000   219.615000    0.000105   0.077137
State Nature Preserve  39.500000    84.095000    0.000041   0.037175
State Park             28.538462  1168.668462    0.000567   0.150326
State Recreation Area  38.285714   326.934286    0.000162   0.078135

Generate a random sample of 10 rows from the data.

In [19]:
sample = data.iloc[:10, :]
sample

   OBJECTID                            UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
0        21            Fort Stevenson State Park  ...   0.000284   0.135641
1        22               Beaver Lake State Park  ...   0.000129   0.080067
2        23      Fort Abraham Lincoln State Park  ...   0.000399   0.119868
3        24               Fort Ransom State Park  ...   0.000444   0.128733
4        25            Grahams Island State Park  ...   0.000469   0.125546
5        26                 Icelandic State Park  ...   0.000461   0.166712
6        27            Lake Metigoshe State Park  ...   0.000751   0.212196
7        28           Lewis and Clark State Park  ...   0.000256   0.130420
8        29  Lewis and Clark Interpretive Center  ...   0.000007   0.016774
9        30    Fort Mandan State Recreation Area  ...   0.000005   0.009396

[10 rows x 6 columns]

Add a Feature called 'New_feature' to the new Dataset and Add Random float Values in between 0 and 1 using Numpy.

In [25]:
data["New_feature"] = np.random.rand(25,1)

In [27]:
data.describe()

        OBJECTID        ACRES  SHAPE.AREA  SHAPE.LEN  New_feature
count  25.000000    25.000000   25.000000  25.000000    25.000000
mean   33.000000   724.134400    0.000352   0.109863     0.452086
std     7.359801  1275.490247    0.000617   0.089073     0.307784
min    21.000000    11.400000    0.000005   0.009396     0.003026
25%    27.000000    72.300000    0.000034   0.033885     0.163557
50%    33.000000   524.810000    0.000256   0.087192     0.477465
75%    39.000000   836.470000    0.000399   0.145220     0.764981
max    45.000000  6492.930000    0.003136   0.338800     0.947000

Replace zero value of column 'OBJECTID' with mean value permanently.

In [35]:
data.replace(data["OBJECTID"] == 0, data["OBJECTID"].mean())

    OBJECTID  ... New_feature
0         21  ...    0.398045
1         22  ...    0.210708
2         23  ...    0.764981
3         24  ...    0.947000
4         25  ...    0.167665
5         26  ...    0.820999
6         27  ...    0.423998
7         28  ...    0.163557
8         29  ...    0.032896
9         30  ...    0.477465
10        31  ...    0.550844
11        32  ...    0.512183
12        35  ...    0.502747
13        36  ...    0.133025
14        33  ...    0.776165
15        34  ...    0.079136
16        37  ...    0.024775
17        38  ...    0.882198
18        39  ...    0.805309
19        40  ...    0.458583
20        41  ...    0.003026
21        43  ...    0.589827
22        44  ...    0.117820
23        45  ...    0.890041
24        42  ...    0.569153

[25 rows x 7 columns]

In [36]:
#Total number of zero values present in the OBJECTID column after replacing it with mean
(data["OBJECTID"] == 0).sum()

0